* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


.fcc-view {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.codeflask {
    position: relative !important;
    border-right: 2px solid #cecece;
    background-color: #f5f6f7 !important;
}

.codeflask p, .codeflask code, .codeflask textarea {
    white-space: break-spaces;
}

.fcc-editor, .fcc-viewer {
    flex: 1;
}

.fcc-viewer {
    padding: 1.6em;
    line-height: 1.4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-btn {
    position: fixed;
    border: unset;
    appearance: none;
    font-size: 16px;
    bottom: 1em;
    right: calc(50% - 10px);
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 16px rgba(0,0,0,0.3);
    outline: unset;
    border: 2px solid transparent;
    transition: 200ms;
}
.main-btn:hover {
    background-color: greenyellow;
}