* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page {
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
}


.fcc-view {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.codeflask {
    position: relative !important;
    border-right: 2px solid #cecece;
    background-color: #f5f6f7 !important;
}

.codeflask p, .codeflask code, .codeflask textarea {
    white-space: break-spaces;
}

.fcc-editor, .fcc-viewer, .fcc-content {
    flex: 1;
    overflow-y: auto;
}

.fcc-viewer, .fcc-content {
    padding: 1.6em;
    line-height: 1.4;
}

.fcc-content hr {
    border: unset;
    height: 4px;
    background: #E0E0E0;
}

.fcc-content code {
    border-radius: 3px;
    padding: 1px 5px;
    color: purple;
}

.fcc-content h1 {
    line-height: 1.2;
}

.task-passed {
    color: green;
}

.task-failed {
    color: red;
}

.container, footer {
    max-width: 640px;
    margin: 0 auto
}

.container {
    flex: 1;
}
footer {
    padding: 1em;
    font-size: 13px;
    color: rgba(0,0,0,0.4);
}

.btn-test {
    appearance: none;
    border: unset;
    font-size: 14px;
    width: 100%;
    background-color: #3F51B5;
    padding: .8em;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: 200ms;
    outline: unset;
}
.btn-test:hover {
    background-color: #283593;
}